<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/edit_lib">
  <table width="200" border="1" class="table table-hover">
    <tr>
      <td>library name </td>
      <td><label>
        <input type="text" name="textfield" value="{{val.libraryname}}"/>
      </label></td>
    </tr>
    <tr>
      <td>place</td>
      <td><label>
        <input type="text" name="textfield2" value="{{val.place}}"/>
      </label></td>
    </tr>
    <tr>
      <td>post</td>
      <td><label>
        <input type="text" name="textfield3" value="{{val.post}}"/>
      </label></td>
    </tr>
    <tr>
      <td>pin</td>
      <td><label>
        <input type="text" name="textfield4" value="{{val.pin}}" />
      </label></td>
    </tr>
    <tr>
      <td>email</td>
      <td><label>
        <input type="text" name="textfield5" value="{{val.email}}" />
      </label></td>
    </tr>
    <tr>
      <td>phone</td>
      <td><label>
        <input type="text" name="textfield6" value="{{val.phone}}"/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="update" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
