<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'userregindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="usrrg">
  <table width="200" border="1">
    <tr>
      <td>Full Name</td>
      <td><label>
        <input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>house name </td>
      <td><label>
        <input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>place</td>
      <td><label>
        <input type="text" name="textfield3" pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>post</td>
      <td><label>
        <input type="text" name="textfield4" pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>pin</td>
      <td><label>
        <input type="text" name="textfield5" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <td>phone</td>
      <td><label>
        <input type="text" name="textfield6" required pattern="[6789][0-9]{10}/>
      </label></td>
    </tr>
    <tr>
      <td>email</td>
      <td><label>
        <input type="text" name="textfield7" />
      </label></td>
    </tr>
    <tr>
      <td>username</td>
      <td><label>
        <input type="text" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <td>password</td>
      <td><label>
        <input type="text" name="textfield9" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{3,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 3 or more characters" required />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <label>
        <input type="submit" name="Submit" value="register" />
        </label>
      </div>        <div align="center"></div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}