<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="3" class="table table-hover">
    <tr>
      <td>full name </td>
      <td>House name </td>
      <td>post</td>
      <td>place</td>
      <td>pin</td>
      <td>phone</td>
      <td>email</td>
    </tr>
     {% for i in val %}
    <tr>
      <td>{{i.username}}</td>
      <td>{{i.housename}}</td>
      <td>{{i.post}}</td>
      <td>{{i.place}}</td>
      <td>{{i.pin}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.email}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
